:root {
  --font-heading: 'Big Shoulders Display', cursive;
  --font-body: 'Outfit', sans-serif;
  --color-black: hsl(0, 0%, 8.2%);
  --color-white: hsl(0, 0%, 100%);
  --color-gray: hsl(0, 0%, 26.7%);
  --color-accent: hsl(24, 55.6%, 62.9%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input,
select,
textarea,
button {
  border: none;
  box-shadow: none;
  outline: none;
}

a {
  text-decoration: none;
}

a:link,
a:visited,
a:hover,
a:active {
  color: inherit;
}

ul,
ol {
  list-style: none;
}

body {
  font-family: var(--font-body);
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: var(--font-heading);
  text-transform: uppercase;
}

img {
  max-width: 100%;
  height: auto;
}

picture {
  display: flex;
  max-width: 100%;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.home-header {
  margin-bottom: 120px;
}

.home-header img {
  display: block;
  margin: 0 auto;
}

.home-header h1 {
  margin: 32px 0;
}

.home-header h1 svg {
  height: 110px;
  width: 343px;
  transform: translateX(-20px);
}

.hero-text {
  padding: 0 16px;
}

.location {
  background-color: var(--color-black);
}

.hero-p-a a p,
.location-header a p {
  margin: 0 auto;
  color: var(--color-white);
}

.home-header p {
  font-size: 18px;
  line-height: 28px;
  color: var(--color-gray);
  margin-bottom: 32px;
}

.home-header a,
.location-header a.back {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;
  width: 260px;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 3.63636px;
  background-color: var(--color-black);
}

.location-header a.back {
  flex-direction: row-reverse;
}

.home-header a span,
.location-header a.back span {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 56px;
  height: 72px;
  cursor: pointer;
  background-color: var(--color-accent);
}

.home-header a span svg,
.location-header a.back span svg {
  width: 10px;
  height: 24px;
}

.location-header {
  position: relative;
}

.location-header a.back {
  position: absolute;
  z-index: 900;
  top: 0;
  left: 0;
}

.home-main,
.location-main {
  padding: 0 16px;
}

.location-main {
  padding-top: 48px;
  padding-bottom: 56px;
}

.location-hero h1 {
  margin-top: 0;
  margin-bottom: 48px;
  font-size: 50px;
  line-height: 45px;
  color: var(--color-white);
}

.location-hero h2 {
  font-size: 32px;
  line-height: 32px;
  margin-bottom: 20px;
  color: var(--color-accent);
}

.location-hero p {
  font-size: 18px;
  line-height: 28px;
  color: var(--color-white);
}

.address-details {
  margin-top: 20px;
}

.home-g1 img {
  display: block;
  margin: 0 auto;
}

.home-top-text {
  margin-top: 25px;
  margin-bottom: 32px;
}

.home-top-text h2 {
  font-size: 50px;
  line-height: 45px;
  margin-bottom: 20px;
}

.home-top-text p {
  font-size: 18px;
  line-height: 28px;
  color: var(--color-gray);
}

.home-g2,
.home-g3 {
  justify-content: center;
  margin-bottom: 16px;
}

.home-bottom-text {
  height: 293px;
  padding: 47.5px 24px;
  color: var(--color-white);
  background-color: var(--color-black);
}

.home-bottom-text h2 {
  font-size: 50px;
  line-height: 45px;
  margin-bottom: 24px;
}

.home-bottom-text p {
  font-size: 18px;
  line-height: 28px;
}

.home-footer {
  height: 336px;
  margin-top: 120px;
  padding: 48px 32px;
  color: var(--color-white);
  background-color: var(--color-black);
}

.location-footer {
  margin-top: 0;
  color: var(--color-black);
  background-color: var(--color-accent);
}

.home-footer h3,
.home-footer p {
  margin-bottom: 38px;
}

.home-footer h3 svg {
  width: 110px;
  height: 40px;
}

.location-footer h3 svg path {
  fill: var(--color-black);
}

.home-footer p {
  font-size: 16px;
  line-height: 26px;
}

.social {
  display: flex;
  align-items: center;
}

.social a {
  width: 1.25rem;
  height: 1.25rem;
}

.social li+li {
  margin-left: 20px;
}

.social a svg {
  width: 1.25rem;
  height: 1.25rem;
  color: var(--color-white);
}

.location-footer .social a svg {
  color: var(--color-black);
}

.location-header #map {
  height: 550px;
}

.leaflet-control-attribution {
  display: none;
}

.leaflet-touch .leaflet-bar a {
  color: var(--color-accent);
  background-color: var(--color-black);
}

.leaflet-pane.leaflet-tile-pane {
  filter: grayscale(100%) brightness(0.95);
}

.leaflet-popup-content-wrapper {
  background: var(--color-gray) url(../assets/logo-light.svg) no-repeat top 10px left 20px/50px 20px;
  color: var(--color-white);
}

.leaflet-popup-content-wrapper h2 {
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.5px;
  margin: 40px 0 5px 0;
  color: var(--color-accent);
  text-shadow: 1px 1px 2px var(--color-black);
  filter: brightness(1.2);
}

.leaflet-popup-content-wrapper p {
  font-size: 12px;
  margin: 0;
}

.leaflet-popup-tip {
  background: var(--color-gray);
}

.leaflet-container a.leaflet-popup-close-button {
  color: var(--color-white);
}

.leaflet-container a.leaflet-popup-close-button:focus {
  color: var(--color-accent);
}

.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
  border: none;
}

.leaflet-touch .leaflet-bar a {
  text-shadow: 1px 1px 2px var(--color-gray);
  line-height: 26px;
}

@media (hover: hover) {

  .home-header a,
  .location-header a.back {
    transition: background-color 0.4s linear;
  }

  .home-header a span,
  .location-header a.back {
    transition: background-color 0.3s ease-in-out;
  }

  .home-header a:hover,
  .location-header a.back:hover {
    background-color: var(--color-accent);
  }

  .home-header a:hover span,
  .location-header a.back:hover span {
    background-color: var(--color-black);
  }

  .home-footer .social a:hover svg path {
    fill: var(--color-accent);
    transition: fill 0.3s ease-in-out;
  }

  .location-footer .social a:hover svg path {
    fill: var(--color-white);
    transition: fill 0.3s ease-in-out;
  }

  .leaflet-container a.leaflet-popup-close-button:hover {
    color: var(--color-accent);
  }

}

@media (min-width: 48em) {
  .home-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 700px;
    padding: unset;
    background: url(../assets/tablet/image-hero@2x.jpg) no-repeat top 0 left 0/437px 700px;
  }

  .home-header img {
    display: none;
  }

  .hero-text {
    padding: 0 40px 0 0;
    flex-basis: 339px;
  }

  .home-header h1 {
    margin: 0;
  }

  .home-header p {
    margin: 40px 0;
  }

  .home-header h1 svg {
    height: 130px;
    width: 339px;
    transform: translateX(0);
  }

  .location-header a.back {
    left: 40px;
  }

  .home-main,
  .location-main {
    padding: 0 40px;
  }

  .location-main {
    padding-top: 88px;
    padding-bottom: 80px;
  }

  .location-hero {
    display: flex;
    justify-content: space-between;
  }

  .location-hero h1 {
    font-size: 55px;
    line-height: 50px;
    flex-basis: 223px;
  }

  .location-address {
    flex-basis: 398px;
  }

  .home-main>*,
  .home-main-hero>*,
  .home-main-grid>* {
    margin: 0;
  }

  .home-g1 img,
  .home-g2 img,
  .home-g3 img {
    display: none;
  }

  .home-main picture {
    display: flex;
    width: 100%;
  }

  .home-main-hero {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-bottom: 11px;
  }

  .home-top-text {
    flex-basis: 32.5%;
    padding-top: 38px;
  }

  .home-g1 {
    height: 400px;
    flex-basis: 56.5%;
    background: url(../assets/tablet/image-grid-1@2x.jpg) no-repeat center center/cover;
  }

  .home-main-grid {
    display: grid;
    grid-template-areas:
      "g2 g3"
      "g2 tb";
    grid-template-columns: calc(59.5% - 11px) 40.5%;
    gap: 11px;
  }

  .home-g2 {
    grid-area: g2;
    height: 720px;
    background: url(../assets/tablet/image-grid-2@2x.jpg) no-repeat center center/cover;
  }

  .home-g3 {
    grid-area: g3;
    height: 313px;
    background: url(../assets/tablet/image-grid-3@2x.jpg) no-repeat center center/cover;
  }

  .home-bottom-text {
    grid-area: tb;
    height: 396px;
    padding: 85px 28.5px;
  }

  .home-footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 216px;
    padding: 56px 40px;
  }

  .home-footer p {
    flex-basis: 281px;
    margin-left: 65px;
  }

  .home-footer .social {
    flex-grow: 1;
    justify-content: flex-end;
  }

  .leaflet-right {
    right: 30px;
  }

}


@media (min-width: 64em) {

  .home-header {
    justify-content: center;
  }

  .home-header .hero-text {
    margin-left: 238px;
  }

  .home-footer {
    max-width: 1440px;
    margin: 120px auto 0;
    padding: 80px 165px;
  }

  .location-footer {
    margin-top: 0;
  }

  .home-footer svg {
    height: 58px;
    width: 150px;
  }

}

@media (min-width: 80rem) {
  .home-header {
    height: 800px;
    background: url(../assets/desktop/image-hero@2x.jpg) no-repeat top 0 left 0/540px 800px;
  }

  .home-top-text {
    padding-top: 0;
    margin: auto 0;
  }

  .home-top-text h2 {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 32px;
  }

  .home-top-text p {
    font-size: 22px;
    line-height: 32px;
  }

  .home-g1 {
    background: url(../assets/desktop/image-grid-1@2x.jpg) no-repeat center center/cover;
  }

  .home-g2 {
    background: url(../assets/desktop/image-grid-2@2x.jpg) no-repeat center center/cover;
  }

  .home-g3 {
    background: url(../assets/desktop/image-grid-3@2x.jpg) no-repeat center center/cover;
  }

  .home-bottom-text {
    padding: 64.5px 47.5px;
  }

  .home-bottom-text h2 {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 32px;
  }

  .home-bottom-text p {
    font-size: 22px;
    line-height: 32px;
  }

  .home-footer p {
    flex-basis: 430px;
    font-size: 18px;
    line-height: 28px;
    margin-left: 140px;
  }

}

@media (min-width: 90rem) {
  .home-header {
    background-blend-mode: difference;
    align-items: initial;
    height: 800px;
    padding: 190px 165px 0 165px;
    background: url(../assets/desktop/image-hero@2x.jpg) no-repeat top 0 left 450px/540px 800px, linear-gradient(to right, var(--color-black) 450px, transparent 990px);
  }

  .home-header .hero-text {
    margin: 0;
    padding: 0;
    flex-basis: unset;
    display: flex;
    justify-content: space-between;
  }

  .home-header h1 {
    color: var(--color-white);
    mix-blend-mode: difference;
  }

  .home-header h1 svg {
    height: auto;
    width: 445px;
    transform: translateX(11.5px);
    mix-blend-mode: color;

  }

  .home-header h1 svg path {
    fill: currentColor;
  }

  .location-header a.back {
    left: 165px;
  }


  .hero-p-a {
    flex-basis: 350px
  }

  .hero-p-a p {
    margin-top: 0;
    margin-bottom: 64px;
    padding-top: 0;
    font-size: 22px;
    line-height: 32px;
  }

  .home-main,
  .location-main {
    padding: 0 165px;
  }

  .location-main {
    padding-top: 104px;
    padding-bottom: 128px;
  }

  .home-main-hero {
    margin-bottom: 30px;
  }

  .location-hero h1 {
    font-size: 70px;
    line-height: 70px;
    flex-basis: 350px;
  }

  .location-address {
    flex-basis: 540px;
  }

  .location-hero h2 {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 24px;
  }

  .location-hero p {
    font-size: 22px;
    line-height: 32px;
  }

  .address-details {
    margin-top: 32px;
  }

  .home-g1 {
    flex-basis: 57.25%;
  }

  .home-top-text p {
    padding-right: 5px;
  }

  .home-main-grid {
    grid-template-columns: calc(59.5% - 30px) 40.5%;
    gap: 30px;
  }

  .home-bottom-text {
    height: 377px;
  }

  .home-footer {
    margin-top: 180px;
    height: 244px;
  }

  .location-footer {
    margin-top: 0;
  }

  .leaflet-right {
    right: 155px;
  }

}